acryl-datahub==0.13.2
acryl-datahub[unity-catalog]==0.13.2
acryl-datahub[dbt]==0.13.2
databricks-sdk<0.30.0

# Additional dependencies required for Unity Catalog DataHub source
sqlalchemy<2,>=1.4.39
pyspark~=3.3.0
pydantic<2
acryl-sqlglot[rs]
requests
jsonschema
ruamel.yaml
tabulate
scipy>=1.7.2
python-dateutil>=2.8.0
requests-file
humanfriendly
click-default-group
sqllineage==1.3.8
packaging
cached-property
progressbar2
jsonref
importlib-metadata>=4.0.0

